body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #FFF;
}

.header {
  background-color: #24B2BD;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #24B2BD;
  margin-right: 5%;
}

.header li a {
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #95CDD2; */
  text-decoration: none;
  font-family: "Montserrat", serif;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #19A0AB;
  transition-duration: .15s;
  transition-timing-function: ease-out;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Montserrat", serif;


  left: 50%;
  margin-left: -65px !important;
  position: relative;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #FFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #FFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* iPad = 768px */

@media (min-width: 769px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}



/*header css completed*/
/*start body css*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 310px;
}

h1 {
  color: white;
  font-size: 40px;
  font-family: "Montserrat", serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7%;
  display: inline-block;
}
h3 {
  font-size: 30px;
  font-family: "Montserrat", serif;
  margin-bottom: 12px;
  font-size: 6vw;
  text-align: center;
}
p {
  font-size: 4vw;
  font-family: "Montserrat", serif;
  text-align: Justify;
  margin-top: 12px;
}
#container {
  margin: 40px auto;
  margin-top: 10px;
  height: auto;
  display: grid;
  grid-template-columns: 80%;
  grid-row: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  justify-content: center;

}
.grid-item {
  padding: 0px;

}


body {
  margin: 0;
}

.footer {
  background: #24B2BD;
  width: 100%;
  height: 280px;
}

#consultText {
  color: white;
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  font-size: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

#emailTextBox {
  width: 300px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255,255,255, 0.35);
  font-family: Montserrat, serif;
  font-color: white;
  text-align: center;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: -10px;
  transition: .2s;
  transition-timing-function: ease-out;
}

#emailTextBox:focus , #emailTextBox:hover {
  background-color: rgba(255,255,255, .6);
  transition: .2s;
  transition-timing-function: ease-out;
}

#submitButton {
  display: block;
  margin: 2px auto;
  width: 300px;
  height: 45px;
  border-radius: 8px;
  border: none;
  font-family: Montserrat, serif;
  background: white;
  color: #24B2BD;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 15px;
  border: 2px solid white;
  transition: .2s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;
}

#submitButton:hover, #submitButton:focus {
  background-color: rgba(255,255,255, 0);
  transition: .2s;
  transition-timing-function: ease-out;
  color: white;
}

#bottom {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footerTextContainer {
  margin-right: 30px;
  margin-left: 30px;
}

#footerText {
  font-size: 11px;
  color: #24B2BD;
  text-align: center;
  margin-bottom: 20px;
}

.socialButtons {
  margin-top: 20px;
  margin-right: 3px;
  width: 40px;
  transition-timing-function: ease-in;
  transition-duration: .15s;
}

.socialButtons:hover {
  filter: brightness(60%);
  transition-timing-function: ease-out;
  transition-duration: .15s;
}

#socialContainer {
  float: center;
}

::placeholder {
  color: white;
}

.parallax {
  background-image: url("files/vivintBackgroundSmall2.jpeg");
  /* background-image: url("https://cdn-images-1.medium.com/max/1200/1*mHySsKkkYV9PPEstVg56jg.png"); */

  min-height: 500px;
  height: 80%;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,0);

  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.bg-text {
  background-color: rgba(50,50,50, 0.5);
  color: white;
  font-family: "Montserrat", serif;
  font-size: 200%;
  position: absolute;
  width: 280px;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,0);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#consultContainer {
  background-color: rgba(36, 178, 189, 1);
}

#learnMoreButton {
  margin: 165px auto;
  width: 300px;
  border-radius: 8px;
  border: none;
  font-family: Montserrat, serif;
  background-color: #24B2BD;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 12px;
  transition: .2s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;
}

#learnMoreButton:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #24B2BD;
  transition: .2s;
  transition-timing-function: ease-out;
}

.blur {

  height: 200px;
  width: 296px;
  top: 132px;
  -webkit-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  text-align: center;
  padding: 0px;
  background: inherit;
  position: relative;
  margin: 0 auto;
  overflow:hidden;
  z-index: 1;
}

input {
 outline:none;
}

img {
  border-radius: 8px;
}


/* ABOUT page additions */
h1 {
  margin-top: 100px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
#aboutParallax {
  min-height: 20px;
  height: 180px;
  line-height: 200px;
  text-align: center;
}
#opacityContainer {
  background-color: rgba(30, 160, 170, 1);
  height: 180px;
}

/* CONTACT page additon */
  input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

input[type=submit] {
  width: 100%;
  background-color: #24B2BD;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", serif;
  -webkit-appearance: none;
  margin-top: 15px;
  font-weight: bold;
}

label {
  font-family: "Montserrat", serif;
}

input[type=submit]:hover {
  background-color: rgba(30, 160, 170, 1);
}

.myself .property{
  width: 15%;
  display:inline-block;
  box-sizing:border-box;
  text-align:right;
  font-family: "Montserrat", serif;
  margin-bottom: 20px;
  margin-left: 5%;

  }


.myself .value{
  text-align:left;
  padding-left:40px;
  width:80%;
  display:inline-block;
  box-sizing:border-box;
  font-family: "Montserrat", serif;
  }

  .myself {
    margin-top: 20px;
  }


/*Responsive Resizing*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #container div:nth-of-type(1) {
      order: 1;
  }
  #container div:nth-of-type(2) {
      order: 2;
  }
  #container div:nth-of-type(3) {
      order: 4;
  }
  #container div:nth-of-type(4) {
      order: 3;
  }
  #container div:nth-of-type(5) {
      order: 5;
  }
  #container div:nth-of-type(6) {
      order: 6;
  }
  .parallax {
    background-image: url("files/backgroundPic.png");
    background-size: cover;
  }
  #container {
    grid-template-columns: 45% 45%;
    margin-top: 50px;
    margin-left: calc(-95px + 18vw);
    margin-right: calc(-95px + 18vw);
    margin-bottom: 50px;
    grid-row-gap: 50px;

  }
  h3 {
    font-size: calc(14px + 0.5vw)
  }
  p {
    font-size: calc(10px + 0.5vw);
  }
  #headline1 {
    text-align: left;
  }
  #headline2 {
    text-align: right;
  }
  #consultContainer {
    background-color: rgba(13, 117, 124, 0.85);
  }
  .header .logo {
    left: 0%;
    margin-left: 5% !important;
  }
  .blur {
    height: 202px;
    width: 300px;
    top: 132px;
  }

  .bg-text {
    font-size: 200%;
  }
  #learnMoreButton {
    margin: 160px auto;
  }
  #opacityContainer {
    background-color: rgba(13, 117, 124, 0.85);
    height: 180px;
  }
  #contactForm {
    margin-top: -2px;
    background-color: #24B2BD;
    padding: 20px;
    border-radius: 12px;
    padding-top: 0px;
    height: 485px;
  }
  label {
    color: white;
  }
  input[type=submit] {
    background-color: white;
    color: #24B2BD;
    -webkit-appearance: none;
    border: 3px solid white;
  }
  input[type=text], select, textarea {
    border: none;
  }
  input[type=submit]:hover {
    background-color: rgba(255,255,255, 0);
    color: white;
    transition-duration: .2s;
  }
  .myself {
    margin-top: 0px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 55px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}
